{
  "openapi": "3.0.1",
  "info": {
    "title": "ConvertAPI",
    "description": "# High-Performance File Conversion API\nConvert Word, Excel, PowerPoint, HTML, PDF and Image formats with our powerful file conversion service.\nWe support more than [200 file types.]( https://www.convertapi.com/doc/file-formats)",
    "termsOfService": "https://www.convertapi.com/terms",
    "contact": {
      "url": "https://www.convertapi.com/support",
      "email": "support@convertapi.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "v2"
  },
  "servers": [
    {
      "description": "Proxy server",
      "url": "https://openapi.actionschema.com/convertapi"
    }
  ],
  "paths": {
    "/upload": {
      "post": {
        "tags": [
          "File Server"
        ],
        "summary": "File upload to the ConvertAPI file server",
        "description": "When source files require multiple conversions, optimizing performance is possible by uploading the file once and then performing multiple conversions without the need for re-uploading.\nThe uploaded file is securely stored on the convertapi.com server for a maximum period of 3 hours and can be accessed through a unique secret URL with a UUID.\nIn conversion requests, the file can be referenced using the File ID, which is generated upon successful file upload.\n",
        "externalDocs": {
          "url": "https://www.convertapi.com/doc/upload"
        },
        "parameters": [
          {
            "name": "filename",
            "in": "query",
            "description": "File name.\nRequired if the header field `content-disposition` is not set.\n",
            "schema": {
              "type": "string"
            },
            "example": "myfile.pdf"
          },
          {
            "name": "content-disposition",
            "in": "header",
            "description": "This header field is used to determine the file name.\n**Required** if query parameter `filename` is not set.\nQuery parameter `filename` overrides this parameter.\n",
            "schema": {
              "type": "string"
            },
            "example": "Content-Disposition: inline; filename=\"myfile.pdf\""
          },
          {
            "name": "fileId",
            "in": "query",
            "description": "Custom ID for the file that is uploaded. Lowercase alphanumeric character string.",
            "schema": {
              "$ref": "#/components/schemas/fileId"
            },
            "example": "25811safe8e61dd3f51ef00ee5f58b92"
          },
          {
            "name": "url",
            "in": "query",
            "description": "Remote file URL. The URL of the file you want to upload and store on the ConvertAPI file server.\nIf the file is accessible by the URL, it can be uploaded directly from its location by passing the URL instead of the file itself.\n",
            "schema": {
              "type": "string",
              "format": "uri"
            },
            "example": "https://example.com/myfile.pdf"
          },
          {
            "name": "headername",
            "in": "query",
            "description": "Remote file request header field name (used exclusively in conjunction with the `url` parameter).",
            "schema": {
              "type": "string"
            },
            "example": "header-field-name"
          },
          {
            "name": "headervalue",
            "in": "query",
            "description": "Remote file request header field value (used exclusively in conjunction with the `url` and `headername` parameters).",
            "schema": {
              "type": "string"
            },
            "example": "Header field value"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "The file to upload",
                    "format": "binary"
                  }
                }
              },
              "example": "There can be only one part with file data.\n```http\n[POST]\nhttps://v2.convertapi.com/upload \nContent-Type: multipart/form-data; boundary=----7MA4YWxkTrZu0gW\n\n------7MA4YWxkTrZu0gW\nContent-Disposition: form-data; name=\"file\"; filename=\"my_file.doc\"\n\n--FILE DATA--\n------7MA4YWxkTrZu0gW--\n```\n"
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              },
              "example": "```http\n[POST]\nhttps://v2.convertapi.com/upload \nContent-Disposition: inline; filename=\"my_file.doc\"\n\n--FILE DATA--\n```\n"
            }
          }
        },
        "responses": {
          "200": {
            "description": "The file to upload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "FileName": {
                      "type": "string",
                      "example": "myfile.docx"
                    },
                    "FileExt": {
                      "type": "string",
                      "example": "docx"
                    },
                    "FileSize": {
                      "type": "integer",
                      "format": "int32",
                      "example": "1026736"
                    },
                    "FileId": {
                      "type": "string",
                      "example": "9shcxkk4zvesuzl2xavmg9afqbr2ty62"
                    },
                    "Url": {
                      "type": "string",
                      "format": "uri",
                      "example": "https://v2.convertapi.com/d/9shcxkk4zvesuzl2xavmg9afqbr2ty62"
                    }
                  }
                }
              },
              "text/plain": {
                "schema": {
                  "format": "string",
                  "example": "9shcxkk4zvesuzl2xavmg9afqbr2ty62"
                }
              }
            }
          },
          "400": {
            "description": "File request with an invalid file ID"
          },
          "415": {
            "description": "The file type is not supported"
          },
          "500": {
            "description": "Unable to store or download remote file"
          }
        }
      }
    },
    "/d/{fileId}": {
      "get": {
        "tags": [
          "File Server"
        ],
        "summary": "File download from the ConvertAPI file server",
        "operationId": "download",
        "parameters": [
          {
            "$ref": "#/components/parameters/fileId"
          },
          {
            "name": "download",
            "in": "query",
            "description": "- `attachment` - download a file\n- `inline` - view file in a web browser\n",
            "schema": {
              "enum": [
                "attachment",
                "inline"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "content-disposition": {
                "$ref": "#/components/headers/content-disposition"
              },
              "file-name": {
                "$ref": "#/components/headers/file-name"
              },
              "file-ext": {
                "$ref": "#/components/headers/file-ext"
              },
              "file-size": {
                "$ref": "#/components/headers/file-size"
              }
            },
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "File not found"
          }
        }
      },
      "delete": {
        "tags": [
          "File Server"
        ],
        "summary": "Delete uploaded file",
        "description": "If the file is no longer required it can be deleted. Otherwise, it will be automatically deleted after 3 hours.",
        "parameters": [
          {
            "$ref": "#/components/parameters/fileId"
          }
        ],
        "responses": {
          "200": {
            "description": "File deleted successfuly"
          },
          "404": {
            "description": "File not found"
          }
        }
      },
      "head": {
        "tags": [
          "File Server"
        ],
        "summary": "Get file information without receiving file",
        "parameters": [
          {
            "$ref": "#/components/parameters/fileId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "content-disposition": {
                "$ref": "#/components/headers/content-disposition"
              },
              "file-name": {
                "$ref": "#/components/headers/file-name"
              },
              "file-ext": {
                "$ref": "#/components/headers/file-ext"
              },
              "file-size": {
                "$ref": "#/components/headers/file-size"
              }
            }
          },
          "404": {
            "description": "File not found"
          }
        }
      }
    },
    "/user": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "User information",
        "description": "The endpoint returns information about a user account.\nIt is helpful to check the account balance status and other data.\nThe /user endpoint can be authenticated only with a secret.\nThe token is not accepted.\n",
        "externalDocs": {
          "url": "https://www.convertapi.com/doc/user"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Active": {
                      "type": "boolean",
                      "description": "User can perform conversions"
                    },
                    "Email": {
                      "type": "string",
                      "description": "User email",
                      "example": "user@example.com"
                    },
                    "Secret": {
                      "type": "string",
                      "description": "Authentication secret",
                      "example": "1XKrszdaFZH33WTh"
                    },
                    "ApiKey": {
                      "type": "integer",
                      "description": "Authentication API key",
                      "format": "int64",
                      "example": 842679918
                    },
                    "ConversionsTotal": {
                      "type": "integer",
                      "description": "Plan conversion count",
                      "format": "int64",
                      "example": 5000
                    },
                    "ConversionsConsumed": {
                      "type": "integer",
                      "description": "Conversions consumed",
                      "format": "int64",
                      "example": 458
                    },
                    "SecondsLeft": {
                      "type": "integer",
                      "format": "int64",
                      "deprecated": true
                    },
                    "FullName": {
                      "type": "string",
                      "description": "User full name",
                      "example": "John Wick"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          }
        },
        "security": [
          {
            "secret": []
          }
        ]
      }
    },
    "/user/statistic": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Usage statistics information",
        "description": "The endpoint that returns information about your usage statistics based on the date range.",
        "externalDocs": {
          "url": "https://www.convertapi.com/doc/user"
        },
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "Conversions from date",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2023-09-01"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Conversions to date",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2023-09-30"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Result": {
                        "type": "boolean",
                        "description": "Is conversion successful"
                      },
                      "CreatedAt": {
                        "type": "string",
                        "description": "Conversion time"
                      },
                      "ExecutionTime": {
                        "type": "integer",
                        "description": "Conversion duration",
                        "format": "int32"
                      },
                      "Converter": {
                        "type": "string",
                        "description": "File converter name"
                      },
                      "SourceFormat": {
                        "type": "string",
                        "description": "Source file format (docx, pdf, jpg etc.)"
                      },
                      "DestinationFormat": {
                        "type": "string",
                        "description": "Destination file format (docx, pdf, jpg etc.)"
                      },
                      "Ip": {
                        "type": "string",
                        "description": "File conversion request origin IP"
                      },
                      "Source": {
                        "type": "string",
                        "description": "Source file name"
                      },
                      "Error": {
                        "type": "string",
                        "description": "Conversion error message"
                      }
                    }
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        },
        "security": [
          {
            "secret": []
          }
        ]
      }
    },
    "/convert/ai/to/jpg": {
      "summary": "AI to JPG File Conversion API",
      "description": "The API for converting images to JPG files. \n Read more about the converter here: https://www.convertapi.com/ai-to-jpg",
      "post": {
        "tags": [
          "Conversion"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "File"
                ],
                "type": "object",
                "properties": {
                  "Timeout": {
                    "maximum": 1200,
                    "minimum": 10,
                    "type": "integer",
                    "description": "Conversion timeout in seconds.",
                    "default": 900
                  },
                  "StoreFile": {
                    "type": "boolean",
                    "description": "Store converted file on our secure server and provides download URL.",
                    "default": false
                  },
                  "File": {
                    "type": "string",
                    "description": "File to be converted. Value can be URL or file content.",
                    "format": "binary"
                  },
                  "FileName": {
                    "type": "string",
                    "description": "Converted output file name without extension. The extension will be added automatically."
                  },
                  "ImageResolution": {
                    "maximum": 800,
                    "minimum": 10,
                    "type": "integer",
                    "description": "Set output image resolution in dpi.",
                    "default": 200
                  },
                  "ScaleImage": {
                    "type": "boolean",
                    "description": "Scale the output image. If ScaleImage is False output document will be stripped to ImageHeight / ImageWidth, if ScalePage is True output document will be scaled to ImageHeight / ImageWidth.",
                    "default": false
                  },
                  "ScaleProportions": {
                    "type": "boolean",
                    "description": "Constrain proportions when scaling the output image.",
                    "default": true
                  },
                  "ScaleIfLarger": {
                    "type": "boolean",
                    "description": "Scaling only if the input image is larger than the output.",
                    "default": false
                  },
                  "ImageHeight": {
                    "maximum": 20000,
                    "minimum": 10,
                    "type": "integer",
                    "description": "Image height in pixels."
                  },
                  "ImageWidth": {
                    "maximum": 20000,
                    "minimum": 10,
                    "type": "integer",
                    "description": "Image width in pixels."
                  },
                  "ImageInterpolation": {
                    "type": "boolean",
                    "description": "Specifies whether the image parser should use image interpolation. Enabling image interpolation will result in higher quality for scaled images at the expense of speed.",
                    "default": false
                  },
                  "ColorSpace": {
                    "enum": [
                      "default",
                      "rgb",
                      "srgb",
                      "cmyk",
                      "gray"
                    ],
                    "type": "string",
                    "description": "Set image color space.\n * `default` - Default\n * `rgb` - RGB\n * `srgb` - sRGB\n * `cmyk` - CMYK\n * `gray` - Gray",
                    "default": "default"
                  },
                  "ImageQuality": {
                    "maximum": 100,
                    "minimum": 10,
                    "type": "integer",
                    "description": "Set output image quality.",
                    "default": 75
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ConversionCost": {
                      "type": "integer",
                      "description": "This amount will be deducted from your balance after the conversion.",
                      "format": "int32",
                      "example": 1
                    },
                    "Files": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "FileName": {
                            "type": "string",
                            "description": "Name of the converted file.",
                            "example": "myfile.pdf"
                          },
                          "FileExt": {
                            "type": "string",
                            "description": "File type (file name extension)",
                            "example": "pdf"
                          },
                          "FileSize": {
                            "type": "integer",
                            "description": "File size",
                            "format": "int32",
                            "example": 111955
                          },
                          "FileId": {
                            "type": "string",
                            "description": "File ID",
                            "example": "25811safe8e61dd3f51ef00ee5f58b92"
                          },
                          "Url": {
                            "type": "string",
                            "description": "File URL",
                            "example": "https://v2.convertapi.com/d/v01plsb72o0cmdooq90w4d1lnqsf6oy4/myfile.pdf"
                          },
                          "FileData": {
                            "type": "string",
                            "description": "Base64 encoded file data",
                            "format": "base64",
                            "example": "JVBERi0xLjcKJb662+4KMSAwIG9iago8PC9UeXBlIC9DYXRhbG9n..."
                          }
                        }
                      }
                    }
                  },
                  "externalDocs": {
                    "url": "https://www.convertapi.com/doc/content-types#applicationjson-1"
                  }
                }
              },
              "multipart/mixed": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "externalDocs": {
                    "url": "https://www.convertapi.com/doc/content-types#multipartmixed"
                  }
                },
                "example": "--43cf1475-ab15-4c6b-b5ee-e2cbcedfe92f\nConversionCost: 1\nContent-Type: application/octet-stream\nContent-Disposition: attachment; filename=\"my_file.pdf\"; size=8475\n\n--FILE CONTENT--\n--43cf1475-ab15-4c6b-b5ee-e2cbcedfe92f--\n"
              },
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "externalDocs": {
                    "url": "https://www.convertapi.com/doc/content-types#applicationoctet-stream-1"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "415": {
            "$ref": "#/components/responses/415"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "security": [
          {
            "secret": []
          },
          {
            "apiKey": []
          },
          {
            "token": []
          },
          {
            "basicAuth": []
          },
          {
            "jwt": []
          }
        ]
      }
    },
    "/convert/ai/to/png": {
      "summary": "AI to PNG File Conversion API",
      "description": "The API for converting images to Portable Network Graphic (PNG) images. \n Read more about the converter here: https://www.convertapi.com/ai-to-png",
      "post": {
        "tags": [
          "Conversion"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "File"
                ],
                "type": "object",
                "properties": {
                  "Timeout": {
                    "maximum": 1200,
                    "minimum": 10,
                    "type": "integer",
                    "description": "Conversion timeout in seconds.",
                    "default": 900
                  },
                  "StoreFile": {
                    "type": "boolean",
                    "description": "Store converted file on our secure server and provides download URL.",
                    "default": false
                  },
                  "File": {
                    "type": "string",
                    "description": "File to be converted. Value can be URL or file content.",
                    "format": "binary"
                  },
                  "FileName": {
                    "type": "string",
                    "description": "Converted output file name without extension. The extension will be added automatically."
                  },
                  "ImageResolution": {
                    "maximum": 800,
                    "minimum": 10,
                    "type": "integer",
                    "description": "Set output image resolution in dpi.",
                    "default": 200
                  },
                  "ScaleImage": {
                    "type": "boolean",
                    "description": "Scale the output image. If ScaleImage is False output document will be stripped to ImageHeight / ImageWidth, if ScalePage is True output document will be scaled to ImageHeight / ImageWidth.",
                    "default": false
                  },
                  "ScaleProportions": {
                    "type": "boolean",
                    "description": "Constrain proportions when scaling the output image.",
                    "default": true
                  },
                  "ScaleIfLarger": {
                    "type": "boolean",
                    "description": "Scaling only if the input image is larger than the output.",
                    "default": false
                  },
                  "ImageHeight": {
                    "maximum": 20000,
                    "minimum": 10,
                    "type": "integer",
                    "description": "Image height in pixels."
                  },
                  "ImageWidth": {
                    "maximum": 20000,
                    "minimum": 10,
                    "type": "integer",
                    "description": "Image width in pixels."
                  },
                  "ImageInterpolation": {
                    "type": "boolean",
                    "description": "Specifies whether the image parser should use image interpolation. Enabling image interpolation will result in higher quality for scaled images at the expense of speed.",
                    "default": false
                  },
                  "TransparentColor": {
                    "type": "string",
                    "description": "Add alpha channel to image, setting pixels matching color to transparent. Values accepted are RGBA, CMYK hex string, color name or RGB format like this 255,255,255 (RED=255, GREEN=255, BLUE=255) or 255,255,255,150 with alpha chanel."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ConversionCost": {
                      "type": "integer",
                      "description": "This amount will be deducted from your balance after the conversion.",
                      "format": "int32",
                      "example": 1
                    },
                    "Files": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "FileName": {
                            "type": "string",
                            "description": "Name of the converted file.",
                            "example": "myfile.pdf"
                          },
                          "FileExt": {
                            "type": "string",
                            "description": "File type (file name extension)",
                            "example": "pdf"
                          },
                          "FileSize": {
                            "type": "integer",
                            "description": "File size",
                            "format": "int32",
                            "example": 111955
                          },
                          "FileId": {
                            "type": "string",
                            "description": "File ID",
                            "example": "25811safe8e61dd3f51ef00ee5f58b92"
                          },
                          "Url": {
                            "type": "string",
                            "description": "File URL",
                            "example": "https://v2.convertapi.com/d/v01plsb72o0cmdooq90w4d1lnqsf6oy4/myfile.pdf"
                          },
                          "FileData": {
                            "type": "string",
                            "description": "Base64 encoded file data",
                            "format": "base64",
                            "example": "JVBERi0xLjcKJb662+4KMSAwIG9iago8PC9UeXBlIC9DYXRhbG9n..."
                          }
                        }
                      }
                    }
                  },
                  "externalDocs": {
                    "url": "https://www.convertapi.com/doc/content-types#applicationjson-1"
                  }
                }
              },
              "multipart/mixed": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "externalDocs": {
                    "url": "https://www.convertapi.com/doc/content-types#multipartmixed"
                  }
                },
                "example": "--43cf1475-ab15-4c6b-b5ee-e2cbcedfe92f\nConversionCost: 1\nContent-Type: application/octet-stream\nContent-Disposition: attachment; filename=\"my_file.pdf\"; size=8475\n\n--FILE CONTENT--\n--43cf1475-ab15-4c6b-b5ee-e2cbcedfe92f--\n"
              },
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "externalDocs": {
                    "url": "https://www.convertapi.com/doc/content-types#applicationoctet-stream-1"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "415": {
            "$ref": "#/components/responses/415"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "security": [
          {
            "secret": []
          },
          {
            "apiKey": []
          },
          {
            "token": []
          },
          {
            "basicAuth": []
          },
          {
            "jwt": []
          }
        ]
      }
    },
    "/convert/ai/to/pnm": {
      "summary": "AI to PNM File Conversion API",
      "description": "The API for converting images to Portable Any Map (PNM) images. \n Read more about the converter here: https://www.convertapi.com/ai-to-pnm",
      "post": {
        "tags": [
          "Conversion"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "File"
                ],
                "type": "object",
                "properties": {
                  "Timeout": {
                    "maximum": 1200,
                    "minimum": 10,
                    "type": "integer",
                    "description": "Conversion timeout in seconds.",
                    "default": 900
                  },
                  "StoreFile": {
                    "type": "boolean",
                    "description": "Store converted file on our secure server and provides download URL.",
                    "default": false
                  },
                  "File": {
                    "type": "string",
                    "description": "File to be converted. Value can be URL or file content.",
                    "format": "binary"
                  },
                  "FileName": {
                    "type": "string",
                    "description": "Converted output file name without extension. The extension will be added automatically."
                  },
                  "ImageResolution": {
                    "maximum": 800,
                    "minimum": 10,
                    "type": "integer",
                    "description": "Set output image resolution in dpi.",
                    "default": 200
                  },
                  "ScaleImage": {
                    "type": "boolean",
                    "description": "Scale the output image. If ScaleImage is False output document will be stripped to ImageHeight / ImageWidth, if ScalePage is True output document will be scaled to ImageHeight / ImageWidth.",
                    "default": false
                  },
                  "ScaleProportions": {
                    "type": "boolean",
                    "description": "Constrain proportions when scaling the output image.",
                    "default": true
                  },
                  "ScaleIfLarger": {
                    "type": "boolean",
                    "description": "Scaling only if the input image is larger than the output.",
                    "default": false
                  },
                  "ImageHeight": {
                    "maximum": 20000,
                    "minimum": 10,
                    "type": "integer",
                    "description": "Image height in pixels."
                  },
                  "ImageWidth": {
                    "maximum": 20000,
                    "minimum": 10,
                    "type": "integer",
                    "description": "Image width in pixels."
                  },
                  "ImageInterpolation": {
                    "type": "boolean",
                    "description": "Specifies whether the image parser should use image interpolation. Enabling image interpolation will result in higher quality for scaled images at the expense of speed.",
                    "default": false
                  },
                  "TransparentColor": {
                    "type": "string",
                    "description": "Add alpha channel to image, setting pixels matching color to transparent. Values accepted are RGBA, CMYK hex string, color name or RGB format like this 255,255,255 (RED=255, GREEN=255, BLUE=255) or 255,255,255,150 with alpha chanel."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ConversionCost": {
                      "type": "integer",
                      "description": "This amount will be deducted from your balance after the conversion.",
                      "format": "int32",
                      "example": 1
                    },
                    "Files": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "FileName": {
                            "type": "string",
                            "description": "Name of the converted file.",
                            "example": "myfile.pdf"
                          },
                          "FileExt": {
                            "type": "string",
                            "description": "File type (file name extension)",
                            "example": "pdf"
                          },
                          "FileSize": {
                            "type": "integer",
                            "description": "File size",
                            "format": "int32",
                            "example": 111955
                          },
                          "FileId": {
                            "type": "string",
                            "description": "File ID",
                            "example": "25811safe8e61dd3f51ef00ee5f58b92"
                          },
                          "Url": {
                            "type": "string",
                            "description": "File URL",
                            "example": "https://v2.convertapi.com/d/v01plsb72o0cmdooq90w4d1lnqsf6oy4/myfile.pdf"
                          },
                          "FileData": {
                            "type": "string",
                            "description": "Base64 encoded file data",
                            "format": "base64",
                            "example": "JVBERi0xLjcKJb662+4KMSAwIG9iago8PC9UeXBlIC9DYXRhbG9n..."
                          }
                        }
                      }
                    }
                  },
                  "externalDocs": {
                    "url": "https://www.convertapi.com/doc/content-types#applicationjson-1"
                  }
                }
              },
              "multipart/mixed": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "externalDocs": {
                    "url": "https://www.convertapi.com/doc/content-types#multipartmixed"
                  }
                },
                "example": "--43cf1475-ab15-4c6b-b5ee-e2cbcedfe92f\nConversionCost: 1\nContent-Type: application/octet-stream\nContent-Disposition: attachment; filename=\"my_file.pdf\"; size=8475\n\n--FILE CONTENT--\n--43cf1475-ab15-4c6b-b5ee-e2cbcedfe92f--\n"
              },
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "externalDocs": {
                    "url": "https://www.convertapi.com/doc/content-types#applicationoctet-stream-1"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "415": {
            "$ref": "#/components/responses/415"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "security": [
          {
            "secret": []
          },
          {
            "apiKey": []
          },
          {
            "token": []
          },
          {
            "basicAuth": []
          },
          {
            "jwt": []
          }
        ]
      }
    },
    "/convert/ai/to/svg": {
      "summary": "AI to SVG File Conversion API",
      "description": "The API for converting images to SVG files. \n Read more about the converter here: https://www.convertapi.com/ai-to-svg",
      "post": {
        "tags": [
          "Conversion"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "File"
                ],
                "type": "object",
                "properties": {
                  "Timeout": {
                    "maximum": 1200,
                    "minimum": 10,
                    "type": "integer",
                    "description": "Conversion timeout in seconds.",
                    "default": 900
                  },
                  "StoreFile": {
                    "type": "boolean",
                    "description": "Store converted file on our secure server and provides download URL.",
                    "default": false
                  },
                  "File": {
                    "type": "string",
                    "description": "File to be converted. Value can be URL or file content.",
                    "format": "binary"
                  },
                  "FileName": {
                    "type": "string",
                    "description": "Converted output file name without extension. The extension will be added automatically."
                  },
                  "ImageResolution": {
                    "maximum": 800,
                    "minimum": 10,
                    "type": "integer",
                    "description": "Set output image resolution in dpi.",
                    "default": 200
                  },
                  "ScaleImage": {
                    "type": "boolean",
                    "description": "Scale the output image. If ScaleImage is False output document will be stripped to ImageHeight / ImageWidth, if ScalePage is True output document will be scaled to ImageHeight / ImageWidth.",
                    "default": false
                  },
                  "ScaleProportions": {
                    "type": "boolean",
                    "description": "Constrain proportions when scaling the output image.",
                    "default": true
                  },
                  "ScaleIfLarger": {
                    "type": "boolean",
                    "description": "Scaling only if the input image is larger than the output.",
                    "default": false
                  },
                  "ImageHeight": {
                    "maximum": 20000,
                    "minimum": 10,
                    "type": "integer",
                    "description": "Image height in pixels."
                  },
                  "ImageWidth": {
                    "maximum": 20000,
                    "minimum": 10,
                    "type": "integer",
                    "description": "Image width in pixels."
                  },
                  "ImageInterpolation": {
                    "type": "boolean",
                    "description": "Specifies whether the image parser should use image interpolation. Enabling image interpolation will result in higher quality for scaled images at the expense of speed.",
                    "default": false
                  },
                  "ColorSpace": {
                    "enum": [
                      "default",
                      "rgb",
                      "srgb",
                      "cmyk",
                      "gray"
                    ],
                    "type": "string",
                    "description": "Set image color space.\n * `default` - Default\n * `rgb` - RGB\n * `srgb` - sRGB\n * `cmyk` - CMYK\n * `gray` - Gray",
                    "default": "default"
                  },
                  "ImageQuality": {
                    "maximum": 100,
                    "minimum": 10,
                    "type": "integer",
                    "description": "Set output image quality.",
                    "default": 75
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ConversionCost": {
                      "type": "integer",
                      "description": "This amount will be deducted from your balance after the conversion.",
                      "format": "int32",
                      "example": 1
                    },
                    "Files": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "FileName": {
                            "type": "string",
                            "description": "Name of the converted file.",
                            "example": "myfile.pdf"
                          },
                          "FileExt": {
                            "type": "string",
                            "description": "File type (file name extension)",
                            "example": "pdf"
                          },
                          "FileSize": {
                            "type": "integer",
                            "description": "File size",
                            "format": "int32",
                            "example": 111955
                          },
                          "FileId": {
                            "type": "string",
                            "description": "File ID",
                            "example": "25811safe8e61dd3f51ef00ee5f58b92"
                          },
                          "Url": {
                            "type": "string",
                            "description": "File URL",
                            "example": "https://v2.convertapi.com/d/v01plsb72o0cmdooq90w4d1lnqsf6oy4/myfile.pdf"
                          },
                          "FileData": {
                            "type": "string",
                            "description": "Base64 encoded file data",
                            "format": "base64",
                            "example": "JVBERi0xLjcKJb662+4KMSAwIG9iago8PC9UeXBlIC9DYXRhbG9n..."
                          }
                        }
                      }
                    }
                  },
                  "externalDocs": {
                    "url": "https://www.convertapi.com/doc/content-types#applicationjson-1"
                  }
                }
              },
              "multipart/mixed": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "externalDocs": {
                    "url": "https://www.convertapi.com/doc/content-types#multipartmixed"
                  }
                },
                "example": "--43cf1475-ab15-4c6b-b5ee-e2cbcedfe92f\nConversionCost: 1\nContent-Type: application/octet-stream\nContent-Disposition: attachment; filename=\"my_file.pdf\"; size=8475\n\n--FILE CONTENT--\n--43cf1475-ab15-4c6b-b5ee-e2cbcedfe92f--\n"
              },
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "externalDocs": {
                    "url": "https://www.convertapi.com/doc/content-types#applicationoctet-stream-1"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "415": {
            "$ref": "#/components/responses/415"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "security": [
          {
            "secret": []
          },
          {
            "apiKey": []
          },
          {
            "token": []
          },
          {
            "basicAuth": []
          },
          {
            "jwt": []
          }
        ]
      }
    },
    "/convert/ai/to/tiff": {
      "summary": "AI to TIFF File Conversion API",
      "description": "The API for converting images to Tiff images. \n Read more about the converter here: https://www.convertapi.com/ai-to-tiff",
      "post": {
        "tags": [
          "Conversion"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "File"
                ],
                "type": "object",
                "properties": {
                  "Timeout": {
                    "maximum": 1200,
                    "minimum": 10,
                    "type": "integer",
                    "description": "Conversion timeout in seconds.",
                    "default": 900
                  },
                  "StoreFile": {
                    "type": "boolean",
                    "description": "Store converted file on our secure server and provides download URL.",
                    "default": false
                  },
                  "File": {
                    "type": "string",
                    "description": "File to be converted. Value can be URL or file content.",
                    "format": "binary"
                  },
                  "FileName": {
                    "type": "string",
                    "description": "Converted output file name without extension. The extension will be added automatically."
                  },
                  "ImageResolution": {
                    "maximum": 800,
                    "minimum": 10,
                    "type": "integer",
                    "description": "Set output image resolution in dpi.",
                    "default": 200
                  },
                  "ScaleImage": {
                    "type": "boolean",
                    "description": "Scale the output image. If ScaleImage is False output document will be stripped to ImageHeight / ImageWidth, if ScalePage is True output document will be scaled to ImageHeight / ImageWidth.",
                    "default": false
                  },
                  "ScaleProportions": {
                    "type": "boolean",
                    "description": "Constrain proportions when scaling the output image.",
                    "default": true
                  },
                  "ScaleIfLarger": {
                    "type": "boolean",
                    "description": "Scaling only if the input image is larger than the output.",
                    "default": false
                  },
                  "ImageHeight": {
                    "maximum": 20000,
                    "minimum": 10,
                    "type": "integer",
                    "description": "Image height in pixels."
                  },
                  "ImageWidth": {
                    "maximum": 20000,
                    "minimum": 10,
                    "type": "integer",
                    "description": "Image width in pixels."
                  },
                  "ImageInterpolation": {
                    "type": "boolean",
                    "description": "Specifies whether the image parser should use image interpolation. Enabling image interpolation will result in higher quality for scaled images at the expense of speed.",
                    "default": false
                  },
                  "MultiPage": {
                    "type": "boolean",
                    "description": "Create multi-page TIFF file.",
                    "default": true
                  },
                  "ImageQuality": {
                    "maximum": 100,
                    "minimum": 10,
                    "type": "integer",
                    "description": "Set output image quality.",
                    "default": 75
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ConversionCost": {
                      "type": "integer",
                      "description": "This amount will be deducted from your balance after the conversion.",
                      "format": "int32",
                      "example": 1
                    },
                    "Files": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "FileName": {
                            "type": "string",
                            "description": "Name of the converted file.",
                            "example": "myfile.pdf"
                          },
                          "FileExt": {
                            "type": "string",
                            "description": "File type (file name extension)",
                            "example": "pdf"
                          },
                          "FileSize": {
                            "type": "integer",
                            "description": "File size",
                            "format": "int32",
                            "example": 111955
                          },
                          "FileId": {
                            "type": "string",
                            "description": "File ID",
                            "example": "25811safe8e61dd3f51ef00ee5f58b92"
                          },
                          "Url": {
                            "type": "string",
                            "description": "File URL",
                            "example": "https://v2.convertapi.com/d/v01plsb72o0cmdooq90w4d1lnqsf6oy4/myfile.pdf"
                          },
                          "FileData": {
                            "type": "string",
                            "description": "Base64 encoded file data",
                            "format": "base64",
                            "example": "JVBERi0xLjcKJb662+4KMSAwIG9iago8PC9UeXBlIC9DYXRhbG9n..."
                          }
                        }
                      }
                    }
                  },
                  "externalDocs": {
                    "url": "https://www.convertapi.com/doc/content-types#applicationjson-1"
                  }
                }
              },
              "multipart/mixed": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "externalDocs": {
                    "url": "https://www.convertapi.com/doc/content-types#multipartmixed"
                  }
                },
                "example": "--43cf1475-ab15-4c6b-b5ee-e2cbcedfe92f\nConversionCost: 1\nContent-Type: application/octet-stream\nContent-Disposition: attachment; filename=\"my_file.pdf\"; size=8475\n\n--FILE CONTENT--\n--43cf1475-ab15-4c6b-b5ee-e2cbcedfe92f--\n"
              },
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "externalDocs": {
                    "url": "https://www.convertapi.com/doc/content-types#applicationoctet-stream-1"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "415": {
            "$ref": "#/components/responses/415"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "security": [
          {
            "secret": []
          },
          {
            "apiKey": []
          },
          {
            "token": []
          },
          {
            "basicAuth": []
          },
          {
            "jwt": []
          }
        ]
      }
    },
    "/convert/ai/to/webp": {
      "summary": "AI to WEBP File Conversion API",
      "description": "The API for converting images to WebP files. \n Read more about the converter here: https://www.convertapi.com/ai-to-webp",
      "post": {
        "tags": [
          "Conversion"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "File"
                ],
                "type": "object",
                "properties": {
                  "Timeout": {
                    "maximum": 1200,
                    "minimum": 10,
                    "type": "integer",
                    "description": "Conversion timeout in seconds.",
                    "default": 900
                  },
                  "StoreFile": {
                    "type": "boolean",
                    "description": "Store converted file on our secure server and provides download URL.",
                    "default": false
                  },
                  "File": {
                    "type": "string",
                    "description": "File to be converted. Value can be URL or file content.",
                    "format": "binary"
                  },
                  "FileName": {
                    "type": "string",
                    "description": "Converted output file name without extension. The extension will be added automatically."
                  },
                  "ImageResolution": {
                    "maximum": 800,
                    "minimum": 10,
                    "type": "integer",
                    "description": "Set output image resolution in dpi.",
                    "default": 200
                  },
                  "ScaleImage": {
                    "type": "boolean",
                    "description": "Scale the output image. If ScaleImage is False output document will be stripped to ImageHeight / ImageWidth, if ScalePage is True output document will be scaled to ImageHeight / ImageWidth.",
                    "default": false
                  },
                  "ScaleProportions": {
                    "type": "boolean",
                    "description": "Constrain proportions when scaling the output image.",
                    "default": true
                  },
                  "ScaleIfLarger": {
                    "type": "boolean",
                    "description": "Scaling only if the input image is larger than the output.",
                    "default": false
                  },
                  "ImageHeight": {
                    "maximum": 20000,
                    "minimum": 10,
                    "type": "integer",
                    "description": "Image height in pixels."
                  },
                  "ImageWidth": {
                    "maximum": 20000,
                    "minimum": 10,
                    "type": "integer",
                    "description": "Image width in pixels."
                  },
                  "ImageInterpolation": {
                    "type": "boolean",
                    "description": "Specifies whether the image parser should use image interpolation. Enabling image interpolation will result in higher quality for scaled images at the expense of speed.",
                    "default": false
                  },
                  "ColorSpace": {
                    "enum": [
                      "default",
                      "rgb",
                      "srgb",
                      "cmyk",
                      "gray"
                    ],
                    "type": "string",
                    "description": "Set image color space.\n * `default` - Default\n * `rgb` - RGB\n * `srgb` - sRGB\n * `cmyk` - CMYK\n * `gray` - Gray",
                    "default": "default"
                  },
                  "ImageQuality": {
                    "maximum": 100,
                    "minimum": 10,
                    "type": "integer",
                    "description": "Set output image quality.",
                    "default": 75
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ConversionCost": {
                      "type": "integer",
                      "description": "This amount will be deducted from your balance after the conversion.",
                      "format": "int32",
                      "example": 1
                    },
                    "Files": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "FileName": {
                            "type": "string",
                            "description": "Name of the converted file.",
                            "example": "myfile.pdf"
                          },
                          "FileExt": {
                            "type": "string",
                            "description": "File type (file name extension)",
                            "example": "pdf"
                          },
                          "FileSize": {
                            "type": "integer",
                            "description": "File size",
                            "format": "int32",
                            "example": 111955
                          },
                          "FileId": {
                            "type": "string",
                            "description": "File ID",
                            "example": "25811safe8e61dd3f51ef00ee5f58b92"
                          },
                          "Url": {
                            "type": "string",
                            "description": "File URL",
                            "example": "https://v2.convertapi.com/d/v01plsb72o0cmdooq90w4d1lnqsf6oy4/myfile.pdf"
                          },
                          "FileData": {
                            "type": "string",
                            "description": "Base64 encoded file data",
                            "format": "base64",
                            "example": "JVBERi0xLjcKJb662+4KMSAwIG9iago8PC9UeXBlIC9DYXRhbG9n..."
                          }
                        }
                      }
                    }
                  },
                  "externalDocs": {
                    "url": "https://www.convertapi.com/doc/content-types#applicationjson-1"
                  }
                }
              },
              "multipart/mixed": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "externalDocs": {
                    "url": "https://www.convertapi.com/doc/content-types#multipartmixed"
                  }
                },
                "example": "--43cf1475-ab15-4c6b-b5ee-e2cbcedfe92f\nConversionCost: 1\nContent-Type: application/octet-stream\nContent-Disposition: attachment; filename=\"my_file.pdf\"; size=8475\n\n--FILE CONTENT--\n--43cf1475-ab15-4c6b-b5ee-e2cbcedfe92f--\n"
              },
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "externalDocs": {
                    "url": "https://www.convertapi.com/doc/content-types#applicationoctet-stream-1"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "415": {
            "$ref": "#/components/responses/415"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "security": [
          {
            "secret": []
          },
          {
            "apiKey": []
          },
          {
            "token": []
          },
          {
            "basicAuth": []
          },
          {
            "jwt": []
          }
        ]
      }
    },
    "/convert/any/to/zip": {
      "summary": "ANY to ZIP File Conversion API",
      "description": "The API for creating ZIP archives. \n Read more about the converter here: https://www.convertapi.com/any-to-zip",
      "post": {
        "tags": [
          "Conversion"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "Files"
                ],
                "type": "object",
                "properties": {
                  "Timeout": {
                    "maximum": 1200,
                    "minimum": 10,
                    "type": "integer",
                    "description": "Conversion timeout in seconds.",
                    "default": 900
                  },
                  "StoreFile": {
                    "type": "boolean",
                    "description": "Store converted file on our secure server and provides download URL.",
                    "default": false
                  },
                  "Files": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    },
                    "description": "Files to be converted. Value can be URL or file content. If used in query or multipart content parameter must be suffixed with index e.g. Files[0], Files[1], Files[2]..."
                  },
                  "FileName": {
                    "type": "string",
                    "description": "Converted output file name without extension. The extension will be added automatically."
                  },
                  "CompressionLevel": {
                    "enum": [
                      "Optimal",
                      "Medium",
                      "Fastest",
                      "NoCompression"
                    ],
                    "type": "string",
                    "description": "Set compression level.\n * `Optimal` - Optimal\n * `Medium` - Medium\n * `Fastest` - Fastest\n * `NoCompression` - No Compression",
                    "default": "NoCompression"
                  },
                  "Password": {
                    "type": "string",
                    "description": "Sets the password to protect archive."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ConversionCost": {
                      "type": "integer",
                      "description": "This amount will be deducted from your balance after the conversion.",
                      "format": "int32",
                      "example": 1
                    },
                    "Files": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "FileName": {
                            "type": "string",
                            "description": "Name of the converted file.",
                            "example": "myfile.pdf"
                          },
                          "FileExt": {
                            "type": "string",
                            "description": "File type (file name extension)",
                            "example": "pdf"
                          },
                          "FileSize": {
                            "type": "integer",
                            "description": "File size",
                            "format": "int32",
                            "example": 111955
                          },
                          "FileId": {
                            "type": "string",
                            "description": "File ID",
                            "example": "25811safe8e61dd3f51ef00ee5f58b92"
                          },
                          "Url": {
                            "type": "string",
                            "description": "File URL",
                            "example": "https://v2.convertapi.com/d/v01plsb72o0cmdooq90w4d1lnqsf6oy4/myfile.pdf"
                          },
                          "FileData": {
                            "type": "string",
                            "description": "Base64 encoded file data",
                            "format": "base64",
                            "example": "JVBERi0xLjcKJb662+4KMSAwIG9iago8PC9UeXBlIC9DYXRhbG9n..."
                          }
                        }
                      }
                    }
                  },
                  "externalDocs": {
                    "url": "https://www.convertapi.com/doc/content-types#applicationjson-1"
                  }
                }
              },
              "multipart/mixed": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "externalDocs": {
                    "url": "https://www.convertapi.com/doc/content-types#multipartmixed"
                  }
                },
                "example": "--43cf1475-ab15-4c6b-b5ee-e2cbcedfe92f\nConversionCost: 1\nContent-Type: application/octet-stream\nContent-Disposition: attachment; filename=\"my_file.pdf\"; size=8475\n\n--FILE CONTENT--\n--43cf1475-ab15-4c6b-b5ee-e2cbcedfe92f--\n"
              },
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "externalDocs": {
                    "url": "https://www.convertapi.com/doc/content-types#applicationoctet-stream-1"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "415": {
            "$ref": "#/components/responses/415"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "security": [
          {
            "secret": []
          },
          {
            "apiKey": []
          },
          {
            "token": []
          },
          {
            "basicAuth": []
          },
          {
            "jwt": []
          }
        ]
      }
    },
    "/convert/bmp/to/jpg": {
      "summary": "BMP to JPG File Conversion API",
      "description": "The API for converting images to JPG files. \n Read more about the converter here: https://www.convertapi.com/bmp-to-jpg",
      "post": {
        "tags": [
          "Conversion"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "File"
                ],
                "type": "object",
                "properties": {
                  "Timeout": {
                    "maximum": 1200,
                    "minimum": 10,
                    "type": "integer",
                    "description": "Conversion timeout in seconds.",
                    "default": 900
                  },
                  "StoreFile": {
                    "type": "boolean",
                    "description": "Store converted file on our secure server and provides download URL.",
                    "default": false
                  },
                  "File": {
                    "type": "string",
                    "description": "File to be converted. Value can be URL or file content.",
                    "format": "binary"
                  },
                  "FileName": {
                    "type": "string",
                    "description": "Converted output file name without extension. The extension will be added automatically."
                  },
                  "ImageResolution": {
                    "maximum": 800,
                    "minimum": 10,
                    "type": "integer",
                    "description": "Set output image resolution in dpi.",
                    "default": 200
                  },
                  "ScaleImage": {
                    "type": "boolean",
                    "description": "Scale the output image. If ScaleImage is False output document will be stripped to ImageHeight / ImageWidth, if ScalePage is True output document will be scaled to ImageHeight / ImageWidth.",
                    "default": false
                  },
                  "ScaleProportions": {
                    "type": "boolean",
                    "description": "Constrain proportions when scaling the output image.",
                    "default": true
                  },
                  "ScaleIfLarger": {
                    "type": "boolean",
                    "description": "Scaling only if the input image is larger than the output.",
                    "default": false
                  },
                  "ImageHeight": {
                    "maximum": 20000,
                    "minimum": 10,
                    "type": "integer",
                    "description": "Image height in pixels."
                  },
                  "ImageWidth": {
                    "maximum": 20000,
                    "minimum": 10,
                    "type": "integer",
                    "description": "Image width in pixels."
                  },
                  "ImageInterpolation": {
                    "type": "boolean",
                    "description": "Specifies whether the image parser should use image interpolation. Enabling image interpolation will result in higher quality for scaled images at the expense of speed.",
                    "default": false
                  },
                  "ColorSpace": {
                    "enum": [
                      "default",
                      "rgb",
                      "srgb",
                      "cmyk",
                      "gray"
                    ],
                    "type": "string",
                    "description": "Set image color space.\n * `default` - Default\n * `rgb` - RGB\n * `srgb` - sRGB\n * `cmyk` - CMYK\n * `gray` - Gray",
                    "default": "default"
                  },
                  "ImageQuality": {
                    "maximum": 100,
                    "minimum": 10,
                    "type": "integer",
                    "description": "Set output image quality.",
                    "default": 75
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ConversionCost": {
                      "type": "integer",
                      "description": "This amount will be deducted from your balance after the conversion.",
                      "format": "int32",
                      "example": 1
                    },
                    "Files": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "FileName": {
                            "type": "string",
                            "description": "Name of the converted file.",
                            "example": "myfile.pdf"
                          },
                          "FileExt": {
                            "type": "string",
                            "description": "File type (file name extension)",
                            "example": "pdf"
                          },
                          "FileSize": {
                            "type": "integer",
                            "description": "File size",
                            "format": "int32",
                            "example": 111955
                          },
                          "FileId": {
                            "type": "string",
                            "description": "File ID",
                            "example": "25811safe8e61dd3f51ef00ee5f58b92"
                          },
                          "Url": {
                            "type": "string",
                            "description": "File URL",
                            "example": "https://v2.convertapi.com/d/v01plsb72o0cmdooq90w4d1lnqsf6oy4/myfile.pdf"
                          },
                          "FileData": {
                            "type": "string",
                            "description": "Base64 encoded file data",
                            "format": "base64",
                            "example": "JVBERi0xLjcKJb662+4KMSAwIG9iago8PC9UeXBlIC9DYXRhbG9n..."
                          }
                        }
                      }
                    }
                  },
                  "externalDocs": {
                    "url": "https://www.convertapi.com/doc/content-types#applicationjson-1"
                  }
                }
              },
              "multipart/mixed": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "externalDocs": {
                    "url": "https://www.convertapi.com/doc/content-types#multipartmixed"
                  }
                },
                "example": "--43cf1475-ab15-4c6b-b5ee-e2cbcedfe92f\nConversionCost: 1\nContent-Type: application/octet-stream\nContent-Disposition: attachment; filename=\"my_file.pdf\"; size=8475\n\n--FILE CONTENT--\n--43cf1475-ab15-4c6b-b5ee-e2cbcedfe92f--\n"
              },
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "externalDocs": {
                    "url": "https://www.convertapi.com/doc/content-types#applicationoctet-stream-1"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "415": {
            "$ref": "#/components/responses/415"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "security": [
          {
            "secret": []
          },
          {
            "apiKey": []
          },
          {
            "token": []
          },
          {
            "basicAuth": []
          },
          {
            "jwt": []
          }
        ]
      }
    },
    "/convert/bmp/to/pdf": {
      "summary": "BMP to PDF File Conversion API",
      "description": "The API for converting images to PDF files. \n Read more about the converter here: https://www.convertapi.com/bmp-to-pdf",
      "post": {
        "tags": [
          "Conversion"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "File"
                ],
                "type": "object",
                "properties": {
                  "Timeout": {
                    "maximum": 1200,
                    "minimum": 10,
                    "type": "integer",
                    "description": "Conversion timeout in seconds.",
                    "default": 900
                  },
                  "StoreFile": {
                    "type": "boolean",
                    "description": "Store converted file on our secure server and provides download URL.",
                    "default": false
                  },
                  "File": {
                    "type": "string",
                    "description": "File to be converted. Value can be URL or file content.",
                    "format": "binary"
                  },
                  "FileName": {
                    "type": "string",
                    "description": "Converted output file name without extension. The extension will be added automatically."
                  },
                  "Rotate": {
                    "enum": [
                      "0",
                      "90",
                      "180",
                      "270",
                      "auto"
                    ],
                    "type": "string",
                    "description": "Rotate image by degree. Auto rotation using EXIF supported for TIFF and JPEG images.\n * `0` - Preserve original\n * `90` - 90\n * `180` - 180\n * `270` - 270\n * `auto` - Auto using EXIF",
                    "default": "0"
                  },
                  "ColorSpace": {
                    "enum": [
                      "default",
                      "rgb",
                      "srgb",
                      "cmyk",
                      "gray"
                    ],
                    "type": "string",
                    "description": "Set image color space.\n * `default` - Default\n * `rgb` - RGB\n * `srgb` - sRGB\n * `cmyk` - CMYK\n * `gray` - Gray",
                    "default": "default"
                  },
                  "ColorProfile": {
                    "enum": [
                      "default",
                      "isocoatedv2"
                    ],
                    "type": "string",
                    "description": "Set image color profile. Some profiles will override the ColorSpace property.\n * `default` - Default\n * `isocoatedv2` - ISO Coated v2",
                    "default": "default"
                  },
                  "MarginHorizontal": {
                    "maximum": 500,
                    "minimum": 0,
                    "type": "integer",
                    "description": "Set the page horizontal margin in millimeters (mm).",
                    "default": 0
                  },
                  "MarginVertical": {
                    "maximum": 500,
                    "minimum": 0,
                    "type": "integer",
                    "description": "Set the page vertical margin in millimeters (mm).",
                    "default": 0
                  },
                  "PageSize": {
                    "enum": [
                      "default",
                      "a0",
                      "a1",
                      "a2",
                      "a3",
                      "a4",
                      "a5",
                      "a6",
                      "a7",
                      "a8",
                      "a9",
                      "a10",
                      "letter",
                      "legal"
                    ],
                    "type": "string",
                    "description": "The property scales each image to fit a given page size.\n * `default` - Image size\n * `a0` - A0\n * `a1` - A1\n * `a2` - A2\n * `a3` - A3\n * `a4` - A4\n * `a5` - A5\n * `a6` - A6\n * `a7` - A7\n * `a8` - A8\n * `a9` - A9\n * `a10` - A10\n * `letter` - Letter\n * `legal` - Legal",
                    "default": "default"
                  },
                  "PageOrientation": {
                    "enum": [
                      "default",
                      "portrait",
                      "landscape"
                    ],
                    "type": "string",
                    "description": "Set page orientation. Works only with the PageSize property when it is set to a value other than the Image size.\n * `default` - Image orientation\n * `portrait` - Portrait\n * `landscape` - Landscape",
                    "default": "default"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ConversionCost": {
                      "type": "integer",
                      "description": "This amount will be deducted from your balance after the conversion.",
                      "format": "int32",
                      "example": 1
                    },
                    "Files": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "FileName": {
                            "type": "string",
                            "description": "Name of the converted file.",
                            "example": "myfile.pdf"
                          },
                          "FileExt": {
                            "type": "string",
                            "description": "File type (file name extension)",
                            "example": "pdf"
                          },
                          "FileSize": {
                            "type": "integer",
                            "description": "File size",
                            "format": "int32",
                            "example": 111955
                          },
                          "FileId": {
                            "type": "string",
                            "description": "File ID",
                            "example": "25811safe8e61dd3f51ef00ee5f58b92"
                          },
                          "Url": {
                            "type": "string",
                            "description": "File URL",
                            "example": "https://v2.convertapi.com/d/v01plsb72o0cmdooq90w4d1lnqsf6oy4/myfile.pdf"
                          },
                          "FileData": {
                            "type": "string",
                            "description": "Base64 encoded file data",
                            "format": "base64",
                            "example": "JVBERi0xLjcKJb662+4KMSAwIG9iago8PC9UeXBlIC9DYXRhbG9n..."
                          }
                        }
                      }
                    }
                  },
                  "externalDocs": {
                    "url": "https://www.convertapi.com/doc/content-types#applicationjson-1"
                  }
                }
              },
              "multipart/mixed": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "externalDocs": {
                    "url": "https://www.convertapi.com/doc/content-types#multipartmixed"
                  }
                },
                "example": "--43cf1475-ab15-4c6b-b5ee-e2cbcedfe92f\nConversionCost: 1\nContent-Type: application/octet-stream\nContent-Disposition: attachment; filename=\"my_file.pdf\"; size=8475\n\n--FILE CONTENT--\n--43cf1475-ab15-4c6b-b5ee-e2cbcedfe92f--\n"
              },
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "externalDocs": {
                    "url": "https://www.convertapi.com/doc/content-types#applicationoctet-stream-1"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "415": {
            "$ref": "#/components/responses/415"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "security": [
          {
            "secret": []
          },
          {
            "apiKey": []
          },
          {
            "token": []
          },
          {
            "basicAuth": []
          },
          {
            "jwt": []
          }
        ]
      }
    },
    "/convert/bmp/to/png": {
      "summary": "BMP to PNG File Conversion API",
      "description": "The API for converting images to Portable Network Graphic (PNG) images. \n Read more about the converter here: https://www.convertapi.com/bmp-to-png",
      "post": {
        "tags": [
          "Conversion"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "File"
                ],
                "type": "object",
                "properties": {
                  "Timeout": {
                    "maximum": 1200,
                    "minimum": 10,
                    "type": "integer",
                    "description": "Conversion timeout in seconds.",
                    "default": 900
                  },
                  "StoreFile": {
                    "type": "boolean",
                    "description": "Store converted file on our secure server and provides download URL.",
                    "default": false
                  },
                  "File": {
                    "type": "string",
                    "description": "File to be converted. Value can be URL or file content.",
                    "format": "binary"
                  },
                  "FileName": {
                    "type": "string",
                    "description": "Converted output file name without extension. The extension will be added automatically."
                  },
                  "ImageResolution": {
                    "maximum": 800,
                    "minimum": 10,
                    "type": "integer",
                    "description": "Set output image resolution in dpi.",
                    "default": 200
                  },
                  "ScaleImage": {
                    "type": "boolean",
                    "description": "Scale the output image. If ScaleImage is False output document will be stripped to ImageHeight / ImageWidth, if ScalePage is True output document will be scaled to ImageHeight / ImageWidth.",
                    "default": false
                  },
                  "ScaleProportions": {
                    "type": "boolean",
                    "description": "Constrain proportions when scaling the output image.",
                    "default": true
                  },
                  "ScaleIfLarger": {
                    "type": "boolean",
                    "description": "Scaling only if the input image is larger than the output.",
                    "default": false
                  },
                  "ImageHeight": {
                    "maximum": 20000,
                    "minimum": 10,
                    "type": "integer",
                    "description": "Image height in pixels."
                  },
                  "ImageWidth": {
                    "maximum": 20000,
                    "minimum": 10,
                    "type": "integer",
                    "description": "Image width in pixels."
                  },
                  "ImageInterpolation": {
                    "type": "boolean",
                    "description": "Specifies whether the image parser should use image interpolation. Enabling image interpolation will result in higher quality for scaled images at the expense of speed.",
                    "default": false
                  },
                  "TransparentColor": {
                    "type": "string",
                    "description": "Add alpha channel to image, setting pixels matching color to transparent. Values accepted are RGBA, CMYK hex string, color name or RGB format like this 255,255,255 (RED=255, GREEN=255, BLUE=255) or 255,255,255,150 with alpha chanel."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ConversionCost": {
                      "type": "integer",
                      "description": "This amount will be deducted from your balance after the conversion.",
                      "format": "int32",
                      "example": 1
                    },
                    "Files": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "FileName": {
                            "type": "string",
                            "description": "Name of the converted file.",
                            "example": "myfile.pdf"
                          },
                          "FileExt": {
                            "type": "string",
                            "description": "File type (file name extension)",
                            "example": "pdf"
                          },
                          "FileSize": {
                            "type": "integer",
                            "description": "File size",
                            "format": "int32",
                            "example": 111955
                          },
                          "FileId": {
                            "type": "string",
                            "description": "File ID",
                            "example": "25811safe8e61dd3f51ef00ee5f58b92"
                          },
                          "Url": {
                            "type": "string",
                            "description": "File URL",
                            "example": "https://v2.convertapi.com/d/v01plsb72o0cmdooq90w4d1lnqsf6oy4/myfile.pdf"
                          },
                          "FileData": {
                            "type": "string",
                            "description": "Base64 encoded file data",
                            "format": "base64",
                            "example": "JVBERi0xLjcKJb662+4KMSAwIG9iago8PC9UeXBlIC9DYXRhbG9n..."
                          }
                        }
                      }
                    }
                  },
                  "externalDocs": {
                    "url": "https://www.convertapi.com/doc/content-types#applicationjson-1"
                  }
                }
              },
              "multipart/mixed": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "externalDocs": {
                    "url": "https://www.convertapi.com/doc/content-types#multipartmixed"
                  }
                },
                "example": "--43cf1475-ab15-4c6b-b5ee-e2cbcedfe92f\nConversionCost: 1\nContent-Type: application/octet-stream\nContent-Disposition: attachment; filename=\"my_file.pdf\"; size=8475\n\n--FILE CONTENT--\n--43cf1475-ab15-4c6b-b5ee-e2cbcedfe92f--\n"
              },
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "externalDocs": {
                    "url": "https://www.convertapi.com/doc/content-types#applicationoctet-stream-1"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "415": {
            "$ref": "#/components/responses/415"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "security": [
          {
            "secret": []
          },
          {
            "apiKey": []
          },
          {
            "token": []
          },
          {
            "basicAuth": []
          },
          {
            "jwt": []
          }
        ]
      }
    },
    "/convert/bmp/to/pnm": {
      "summary": "BMP to PNM File Conversion API",
      "description": "The API for converting images to Portable Any Map (PNM) images. \n Read more about the converter here: https://www.convertapi.com/bmp-to-pnm",
      "post": {
        "tags": [
          "Conversion"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "File"
                ],
                "type": "object",
                "properties": {
                  "Timeout": {
                    "maximum": 1200,
                    "minimum": 10,
                    "type": "integer",
                    "description": "Conversion timeout in seconds.",
                    "default": 900
                  },
                  "StoreFile": {
                    "type": "boolean",
                    "description": "Store converted file on our secure server and provides download URL.",
                    "default": false
                  },
                  "File": {
                    "type": "string",
                    "description": "File to be converted. Value can be URL or file content.",
                    "format": "binary"
                  },
                  "FileName": {
                    "type": "string",
                    "description": "Converted output file name without extension. The extension will be added automatically."
                  },
                  "ImageResolution": {
                    "maximum": 800,
                    "minimum": 10,
                    "type": "integer",
                    "description": "Set output image resolution in dpi.",
                    "default": 200
                  },
                  "ScaleImage": {
                    "type": "boolean",
                    "description": "Scale the output image. If ScaleImage is False output document will be stripped to ImageHeight / ImageWidth, if ScalePage is True output document will be scaled to ImageHeight / ImageWidth.",
                    "default": false
                  },
                  "ScaleProportions": {
                    "type": "boolean",
                    "description": "Constrain proportions when scaling the output image.",
                    "default": true
                  },
                  "ScaleIfLarger": {
                    "type": "boolean",
[...]
